{{ "<!-- HEADER -->" | safeHTML }}
<div class="videocontainer">
			<video class="videoplayer" autoplay loop autobuffer muted playsinline>
				<source src="img/videointro.mp4" type="video/mp4">
				<source src="img/videointro.ogv" type="video/ogg">
				<source src="img/videointro.webm" type="video/webm">
				Your browser does not support the video tag.
			</video>
		</div>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            {{ with .Site.Params.hero.slogan }}
                <h1>{{ . | markdownify  }}</h1>
            {{ end }}
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
                <p>{{ . | markdownify }}</p>
            {{ end }}
            {{ with .Site.Params.hero.buttonText }}
                <a href="#about" class="btn btn-primary btn-xl page-scroll">{{ . }}</a>
            {{ end }}
        </div>
    </div>
</header>
